{% extends 'base.html ' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


{% block content %}
<div class="column">
    <div class="row">
        <h1 class="mt-60">Bem-vindo, {{profile.user.username}}</h1>
        <img src="{{teams.0.company.logo.url}}" class="company-logo mt-30">
    </div>
</div>
<div class="row">
    <div class="column solid-contorn">
        <h1>Assessments</h1>
        {% for team in teams %}
            <h2>{{ team.team }}</h2>
            {% for obj in team.avaliations.all %}
                <div class="row">
                    <h3>{{obj}}</h3>
                    <a href="{{obj.get_absolute_url}}" class="column-2"><h3>Fazer</h3></a>
                    <a href="" class="column-2"><h3>Resultados</h3></a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="column solid-contorn">
        <h1>Resultados</h1>
        <a href="{%url 'profiles:results-view' %}">RESULTADOS</a>
    </div>
</div>
{% endblock content %}