body {
    background: #F8F8F8 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: rgb(0, 0, 0) !important; 
}

.salve {
    color: rgb(231, 27, 27) !important; 
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-30 {
    margin-top: 60px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.mb-5 {
    margin-bottom: 30px !important;
}

.w-big {
    width: 200px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

.row {
    display: flex;
  }
  
.column {
    flex: 100%;
}

.column-2 {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.solid-contorn {
    border-radius: 25px;
    border: 2px solid #000;
    padding: 50px;
    margin-top: 6%;
    margin-left: 1%;
    margin-right: 2%;
}

.company-logo {
    margin-left: 450px;
    border-radius: 25px;
    border: 0.3px solid #000;
    width: 8%
}

select.myselect{
    overflow:auto;
}